<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Development.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE23C3DB266B9F3500FF8E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE23C3F1266B9F3F00FF8E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE23C3FC266B9F3F00FF8E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
